
body {
  font-family: Arial;
  background-color: #ee054a;
  font-size:10px;
 
}

table {
  width: auto;
  background-color: white;
}

th, td {
  text-align: center;
  border: 2px solid #101010;
}

th {
  background-color: #d8edf5;
  color: rgb(6, 98, 129);
}


td[colspan="4"] {
  background-color: #f0f0f0;
}

form {
  width: 300px;
  margin: 30px auto;
  background-color: rgb(186, 219, 243);
  padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #756c6c;
}

input[type="submit"] {
  background-color: #064a5c;
  color: white;
  padding: 10px;
   width: 100%;
}

input[type="submit"]:hover {
  background-color: #0a6f8c;
}
